{{ define "content" }}
    <section class="surface-50 curve-left-bottom_right py-8">
        <div class="set-width m-auto px-4">
            <h1 class="funk-font line-height-1 text-7xl md:text-8xl m-0 pb-4 text-center">
                <span class="display_underline">{{ .Title }}</span>
                <span class="text-blue-color-8">.</span>
            </h1>
            <div class="grid">
                <div class="col-12 md:col-7">
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Our Story</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            BhojanApp was born out of a simple yet powerful vision: to transform the way restaurants operate in the digital age. Our founders, a team of tech enthusiasts and food lovers, saw firsthand the challenges faced by restaurant owners in managing orders, inventory, and customer relationships.
                        </p>
                        <br>
                        <p class="my-0 text-xl font-light">
                            We realized that while the culinary world was evolving rapidly, the tools available to restaurant owners weren’t keeping pace. That’s when we decided to create a solution that would bridge this gap and bring the power of advanced technology to every restaurant, big or small.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Our Values</h4>
                        <p class="my-0 text-xl font-light">
                            <br> <strong> - Innovation </strong>: Constantly evolving to meet industry needs
                            <br> <strong> - Simplicity </strong>: Making complex technology user-friendly
                            <br> <strong> - Reliability </strong>: Providing dependable solutions
                            <br> <strong> - Customer-Centric </strong>: Prioritizing our users’ success
                            <br> <strong> - Integrity </strong>: Operating with transparency and honesty
                        </p>
                    </div>
                </div>
                <div class="col-12 md:col-5">
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Our Mission</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            our mission is to transform the restaurant industry with an easy-to-use platform that simplifies operations, improves customer experiences, and increases profits. 
                        </p>
                        <br>
                        <p class="my-0 text-xl font-light">
                            We believe every restaurant, from cozy cafes to busy fine-dining spots, deserves top-tier technology.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">What We Offer</h4>
                        <p class="my-0 text-xl font-light">
                            <br> <strong> - </strong> Streamlined order management
                            <br> <strong> - </strong> Real-time inventory tracking
                            <br> <strong> - </strong> Intuitive point-of-sale system
                            <br> <strong> - </strong> Customer relationship management tools
                            <br> <strong> - </strong> Data-driven insights for business growth
                        </p>
                    </div>
                </div>
            </div>          
        </div>
    </section>
{{ end }}