<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    <title>
        {{ if .IsHome }}
        
        {{ else }}
            {{ if .Title }}
                {{ .Title }} | 
            {{ end }}
        {{ end }}
        {{ site.Title }}
    </title>
    <style>
      body {
        font-size: 16px;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C1NHXE74GB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-C1NHXE74GB');
    </script>
    <meta name="google-site-verification" content="Hsqc64eu5gdIiEO8mJOSYktAyu1IzytKRMXl9Vrs3ZQ" />
</head>
<body class="p-0 m-0">
    {{ partial "banner.html" . }}
    <header>
      {{ partial "header.html" . }}
    </header>
    <main class="w-full">
      {{ block "content" . }}{{ end }}
    </main>
    <div class="mx-auto w-12 md:w-10 lg:w-8 xl:w-6">
      {{ block "main" . }}{{ end }}
    </div>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    
</body>
</html>