{{ define "content" }}
    <section class="surface-50 curve-left-bottom_right py-8">
        <div class="set-width m-auto px-4">
            <h1 class="funk-font line-height-1 text-7xl md:text-8xl m-0 pb-4 text-center">
                <span class="display_underline">{{ .Title }}</span>
                <span class="text-blue-color-8">.</span>
            </h1>
            <h3 class="text-2xl font-normal m-0 pb-5 text-center">Last updated: August 07, 2024</h3>

            <div class="grid">
                <div class="col-12 md:col-7">
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Introduction</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            Welcome to BhojanApp's blog. We are a product company located in Gurugram, Haryana, India. At BhojanApp, we respect your privacy and are committed to protecting it through our compliance with this policy.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">No User Accounts</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            We do not offer user accounts or any features that require user registration. All content on this blog is freely accessible without the need for any user information.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Changes to This Privacy Policy</h4>
                        <p class="my-0 text-xl font-light">
                            We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.
                        </p>
                    </div>
                </div>
                <div class="col-12 md:col-5">
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Information Collection</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            Our blog is a simple site that provides information about our products and company. We do not collect, store, or process any personal information from our visitors. This site does not use cookies, and we do not track user behavior. 
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Third-Party Links</h4><br>
                        <p class="my-0 text-xl font-light">
                            Our blog may contain links to third-party websites. We are not responsible for the privacy practices or the content of such websites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.
                        </p>
                    </div>
                </div>
                <div class="col-12 md:col-7">
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Contact Us</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            If you have any questions about this Privacy Policy, please contact us at:
                        </p>
                        <p class="my-0 text-xl font-light">
                            <br> BhojanApp
                            <br> Sector - 104
                            <br> Gurugram, Haryana India
                            <br> bhojanapp.help@gmail.com
                        </p>
                        <br>
                        <p class="my-0 text-xl font-light">
                            By using our blog, you acknowledge that you have read and understood this Privacy Policy.
                        </p>
                    </div>
                </div>
            </div> 
        </div>
    </section>
{{ end }}

