{{ define "main" }}
    <section class="surface-50 curve-left-bottom_right py-8">
        <div class="set-width m-auto px-4">
            <h1 class="funk-font line-height-1 text-7xl md:text-8xl m-0 pb-4 text-center">
                <span class="display_underline">{{ .Title }}</span>
                <span class="text-blue-color-8">.</span>
            </h1>
            <h3 class="text-2xl font-normal m-0 pb-5 text-center">Last updated: August 07, 2024</h3>

            <div class="grid">
                <div class="col-12 md:col-7">
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Disclaimer</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            The materials on BhojanApp's Blog are provided on an 'as is' basis. BhojanApp makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Acceptance of Terms</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            By accessing and using the BhojanApp blog (the "Blog"), you accept and agree to be bound by the terms and provision of this agreement.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Intellectual Property</h4>
                        <p class="my-0 text-xl font-light">
                            The content on this Blog, including but not limited to text, graphics, logos, and images, is the property of BhojanApp and protected by Indian and international copyright laws.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Accuracy of Materials</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            The materials appearing on BhojanApp's Blog could include technical, typographical, or photographic errors. BhojanApp does not warrant that any of the materials on its Blog are accurate, complete or current. BhojanApp may make changes to the materials contained on its Blog at any time without notice.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Modifications</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            BhojanApp may revise these terms of service for its Blog at any time without notice. By using this Blog you are agreeing to be bound by the then current version of these terms of service.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Governing Law</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            These terms and conditions are governed by and construed in accordance with the laws of India and you irrevocably submit to the exclusive jurisdiction of the courts in Gurugram, Haryana.
                        </p>
                    </div>
                </div>
                <div class="col-12 md:col-5">
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Description of Service</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            BhojanApp provides a blog with information about our products and company. This is an informational service only and does not involve any user accounts or data collection. 
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Use License</h4><br>
                        <p class="my-0 text-xl font-light">
                            Permission is granted to temporarily view the materials on BhojanApp's Blog for personal, non-commercial use only. This is the grant of a license, not a transfer of title, and under this license you may not: 
                        </p>
                        <br>
                        <p class="my-0 text-xl font-light">
                            <br> <strong> - </strong> modify or copy the materials.
                            <br> <strong> - </strong> use the materials for any commercial purpose.
                            <br> <strong> - </strong> attempt to decompile or reverse engineer any software contained on the Blog.
                            <br> <strong> - </strong> remove any copyright or other proprietary notations from the materials. or
                            <br> <strong> - </strong> transfer the materials to another person or "mirror" the materials on any other server.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Limitations</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            In no event shall BhojanApp or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on BhojanApp's Blog, even if BhojanApp or an authorized representative has been notified orally or in writing of the possibility of such damage.
                        </p>
                    </div>
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Links</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            BhojanApp has not reviewed all of the sites linked to its Blog and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by BhojanApp of the site. Use of any such linked website is at the user's own risk.
                        </p>
                    </div>
                </div>
                <div class="col-12 md:col-7">
                    <div class="card overflow-hidden">
                        <h4 class="text-2xl font-normal m-0">Contact Us</h4>
                        <br>
                        <p class="my-0 text-xl font-light">
                            If you have any questions about these Terms, please contact us at:
                        </p>
                        <br>
                        <p class="my-0 text-xl font-light">
                            <br> BhojanApp
                            <br> Sector - 104
                            <br> Gurugram, Haryana India
                            <br> bhojanapp.help@gmail.com
                        </p>
                    </div>
                </div>
            </div> 
        </div>
    </section>
{{ end }}

